#editor .edit-post-header {
    background-color: #e0e1f1;
}

#editor .components-button.components-icon-button,
.components-button.components-icon-button
#editor .components-dropdown-menu {
    color: #000;
    background-color: #d8daef;
}

.components-button.components-icon-button:focus {
    color: #000;
    background-color: #d8daef;
}


#editor .components-button.components-icon-button:focus,
#editor .components-button.components-icon-button:hover,
button.components-button.components-icon-button:focus,
button.components-button.components-icon-button:hover{
    background-color: #8785fb!important;
    color: #edefff!important;
}

#editor .edit-post-sidebar__panel-tab.is-active,
#editor .components-panel__body-title,
.components-modal__frame .components-modal__header {
    background-color: #d8daef;
}

#editor .components-panel__body-title,
#editor .editor-post-last-revision__title,
.edit-post-manage-blocks-modal .components-modal__header {
    border: 1px solid #9da2c3
}

#editor .components-panel__body-title button:focus {
    background-color: #d8daef;
}

#editor .edit-post-sidebar__panel-tab,
#editor .edit-post-sidebar__panel-tabs,
#editor .components-popover__content {
    background-color: #e0e1f1;
}

#editor .components-popover__content {
    color: #000;
}

#editor .components-popover:not(.is-without-arrow).is-bottom:after, 
#editor .components-popover:not(.is-without-arrow).is-bottom:before {
    border-bottom-color: #e0e1f1;
}

#editor .components-popover:not(.is-without-arrow).is-top:after,
#editor .components-popover:not(.is-without-arrow).is-top:before {
    border-top-color: #e0e1f1;
}

.panel__body+.components-panel__body {
    margin-top: -5px;
}

#editor .block-editor-block-list__breadcrumb .components-toolbar,
#editor .components-toolbar,
.components-modal__frame .components-modal__content,
.components-base-control.edit-post-manage-blocks-modal__category-title {
    background-color: #d8daef;
}