.fofo-bec-dcb-paging{
    float: right;
}

.displaying-num,
.paging-input {
    vertical-align: sub;
}

.paging-input {
    margin: 0 5px;
}

#fofo-bec-dcb-show-disabled-wrap {
    margin-right: 12px;
    vertical-align: middle;
}